@charset "UTF-8";

body {
            font-family: arial, Helvetica, "Trebucget MS";
}
table, td, th {
    border: 1px solid blue;
    padding: 15px;
    text-align: center;
}

th {
    background-color: #3399FF;
    color: white;
    height: 50px;
}
td {
    vertical-align: center;

}
table {
    border-collapse: collapse;
    //font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
strong {
    color: blue;
}
tr:nth-child(even) {
    background-color: #FFFFFF;
   // if it's even - rows 2,4,6 etc - apply styles
}

tr:nth-child(odd) {
    background-color: #D6EBFF;
   // if it's odd - rows 1,3,5 etc - apply styles
}


